.about {
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__section {
      margin-bottom: 4rem;
      padding-top: 4rem;
      display: flex;
      justify-content: space-between;
      width: 70%;
      border-top: 1px solid black;

      &__green {
        color: #3fab45;
      }

      h1 {
        font-size: 4.5rem;
        font-weight: bold;
        margin-bottom: 2rem;

        @media only screen and (max-width: 768px) {
          font-size: 3.75rem;
          margin-bottom: 1.5rem;
        }
      }

      h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;

        @media only screen and (max-width: 768px) {
          font-size: 2.25rem;
          margin-bottom: 1.5rem;
        }
      }

      p {
        font-size: 1.7rem;
        margin-bottom: 2rem;

        @media only screen and (max-width: 768px) {
          margin-bottom: 1.5rem;
          font-size: 1.25rem;
        }
      }

      &:first-child {
        border-top: 0px,
      }

      a {
        color: #3fab45;
        text-decoration: underline;

        &:hover {
          color: green;
        }
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 1.5rem;
        padding-top: 1.5rem;
        width: 90%;
        flex-direction: column;
        align-items: center;
      }

      &__sub {
        display: flex;
        flex-direction: column;
        width: 47.5%;

        @media only screen and (max-width: 768px) {
          width: 100%;

          &>a {
            justify-content: center;
          }
        }
      }

      &__image {
        width: 100%;
        height: 500px;
        margin-bottom: 4rem;

        @media only screen and (max-width: 768px) {
          margin-bottom: 1.5rem;
          width: 100%;
          height: 400px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__numsection {
        display: flex;
        flex-direction: column;
        width: 20%;
        text-align: center;

        @media only screen and (max-width: 768px) {
          width: 60%;
          align-items: center;

          p:last-of-type {
            margin-bottom: 1.5rem;
          }
        }

        &__relative {
          position: relative;
          width: 100%;
          bottom: 6.5rem;
        }

        &__absolute {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: center;
          color: #3fab4530;

          span {
            font-size: 15.5rem;
          }
        }
      }

      &__affiliate {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        &__container {
          width: 50%;
          display: flex;
          justify-content: space-between;
          margin-top: 32px;
          margin-bottom: 24px;

          img {
            height: 64px;
          }

          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }

    &__footer {
      width: 70%;

      @media only screen and (max-width: 768px) {
        width: 90%;
      }
    }

  }
}