.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: Montserrat;
  overflow-y: auto;
  margin-top: 41px;
  margin-bottom: 38px;

  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 56px;

    &__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
    }

    &__text {
      font-size: 32px;
      margin-bottom: 8px;
    }

    &__summary {
      font-size: 0.875em
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__section {
      margin-bottom: 40px;

      & span,
      p {
        font-size: .75em;
      }

      &__header {
        font-size: 24px;
      }

      &__subsection {
        margin-top: 16px;
      }

      &__subsection2 {
        margin-top: 24px;

        &__header {
          font-size: 18px;
        }

        & a {
          text-decoration: underline;
          color: #3FAB45;
          cursor: pointer;
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #EFEFEF;
    width: 100%;

    &__section {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__affiliates {
        width: 30%;
        display: flex;
        justify-content: space-between;
      }

      & p,
      span {
        font-size: 12px;
        margin-bottom: 32px;
      }

      & a {
        text-decoration: underline;
        color: #3FAB45;
        cursor: pointer;
      }

      & img {
        height: 64px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    overflow-y: scroll;
    margin: 0;
    padding: 3rem 2rem;
    height: 100vh;

    &__body {
      margin: 0 1rem;
    }

    &__footer {
      &__section {
        &__affiliates {
          width: auto;
        }

      }
    }
  }
}