
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:10rem 8rem;
}

.about__p{
  margin:3rem 0;
}


@media only screen and (max-width: 768px) {
  .about {
    margin:5rem 2rem;
  }
}