.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5rem;
  font-size: 1.5rem;
  box-sizing: border-box;

  &__text {
    margin: 1rem 0;
    width: 100%;
  }

  &__links {
    padding: 1rem;
  }

  &__body {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
  }

  &__volunteers {
    background-color: green;
    color: white;
    border-radius: 3rem;
    padding: 2rem;
    box-sizing: border-box;
  }


}

@media only screen and (max-width: 768px) {
  .about {
    overflow: scroll;
    margin: 0;
    padding: 3rem 2rem;

    &__links {
      padding: 0 0 1rem 0;
    }

    &__body {
      margin: 0 1rem;
    }

    &__volunteers {
      margin: 1rem;
      padding: 0.5rem;
    }
  }

}