.Icon {

  

}

img {
  width: 125px;
  height: 125px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .Icon {

    

  }

  img {
    width: 100px;
    height: 100px;
  }

}