.donate-btn {
  text-align: center;
  margin: 5px;
}

.donate-btn a {
  text-decoration: none;
}

.donate-btn button {
  background-color: white;
  color: black;
  width: auto;
  font-size: 16px;
  padding: 0 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s;
}

.donate-btn:hover {
  background-color: #000;
  color: #fff;
}
