.not-found {
  height: 100vh;
  background-color: #FFDBBC;
}

.content-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.error-message {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  height: 50%;
  width: 100%;
  min-height: 500px;
}

.image-container {
  display: flex;
  position: relative;
  height: 100%;
  min-width: 574px;
}

.alert-text {
  font-size: 300px;
  font-family: "Nunito";
  font-weight: 600;
  position: absolute;
  color: #FFFFFF;
  text-align:center;
}

img {
  position: absolute;
  right: 50px;
  top: 19%;
}

.error-text {
  margin: 5%;
  min-width: 360px;
}

.text_top {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Montserrat';
  color: #FFFFFF;
}

.text_bottom {
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat";
  color: #FFFFFF;
}

.home-button {
  height: 48px;
  width: 160px;
  background-color: #FFFFFF;
  border-color: #808080;
  border-width: 0.5px;
  border-radius: 4px;
  font-family: "Montserrat";
  font-size: 24px;
  color: #808080;
}

.home-button:hover {
  background-color: #EEEEEE;
}

@media (max-width: 900px) {
  .error-message {
    flex-direction: column;
    margin: 24px;
  }

  .image-container {
    justify-content: center;
    min-height: 230px;
    min-width: 308px;
  }

  .alert-text {
    right: auto;
    font-size: 180px;
  }

  img {
    right: auto;
    height: 230px;
    top: 14%;
  }
  
  .error-text{
    margin: auto;
    margin-bottom: 40px;
  }
}

@font-face {
  font-family: "Montserrat";
  src: url(../../assets/fonts/Montserrat.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../../assets/fonts/Nunito.ttf);
}
