
.source {
  $self: &;
  padding: 6rem 2rem 2rem;
  background-image: url('../../assets/images/sources/all_leaf.svg');
  height: 100vh; 
  background-repeat: no-repeat;

  &-menus {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &-menus-item {
    padding: 5px 0;
  }

  &-menus-item:nth-child(2) {
    text-align: right;
  }

  &-menus-item:nth-last-of-type(-n+2) {
    grid-column: span 2;
  }

  &-treelist {
    display: grid;
    margin-top: 1.5em;
  }

  &-treelist-tree-header {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  &-treeheader-btn {
    font-weight: bold;
    border: 0;
    background-color: rgb(0 0 0 / 20%);
    width: 100%;
    min-width: 150px;
    height: 100%;
    text-align: left;
    padding: 2px 6px;
  }

  &-treeheader-btn:active,
  &-treeheader-btn:hover {
    color: white;
    background-color: lightslategrey;
  }

  &-treelist-tree-header-item {
    cursor: pointer;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: rgb(0 0 0 / 50%);
  }

  &-treelist-tree-header-item:last-child {
    border-width: 1px;
  }

  &-treelist-tree {
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }

  &-treelist-tree-item {
    padding: 2px 6px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: rgb(0 0 0 / 30%);
    overflow: hidden;
  }

  &-treelist-tree-item:last-child {
    border-right-width: 1px;
  }

  @media screen and (max-width: 768px) {
    margin: 1rem 0;
    padding: 6rem 0.5em 2rem;
  }
    


}


.sources__openedit {
  border: 0.25em dashed #000;
  padding: 1em;
  border-radius: 0.4em;
  background: #f0f0f0;
  text-align: center;
  color: #202020;
  margin-bottom: 15px;
}

.message {
  color: green;
}