.slideout__btn {
  color: white;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  border: 0;
  height: 5rem;
  width: 5rem;
  border-radius: 15%;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 1px 0;
}

.slideout__btn:active {
  color: black;
  background-color: white;
}

.slideout__btn:focus {
  outline: none;
}

.slideout__btn__shape {
  margin-top: 22px;
  background-color: #337AB7;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
}

.slideout__btn-txt {
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 900;
}

.slideout__btn-txt__shape {
  height: 5rem;
  width: 5rem;
  transform: rotate(+45deg);
  padding-top: 25px;
}

.slideout__btn-selected {
  background-color: transparent;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .sidebar__content {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 414px) {
  .sidebar__content {
    font-size: 1rem;
  }
}
