.adopttree__btn {

 padding: 1.3rem;

 font-family: 'Roboto Mono', monospace;
 color: black;
}


.slideout__btn {
 // background-image: url("../../assets/images/map/waterdroplet.svg");
 //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNiAzNiI+PHBhdGggZmlsbD0iIzVEQURFQyIgZD0iTTI4LjM0NCAxNy43NjhMMTguMTQ4IDEuMDkgOC43IDE3LjY1NGMtMi4yIDMuNTEtMi4zOTIgOC4wNzQtLjA4MSAxMS44NTQgMy4yODUgNS4zNzMgMTAuMzYzIDcuMDk4IDE1LjgxMSAzLjg1NyA1LjQ0Ni0zLjI0IDcuMTk5LTEwLjIyIDMuOTE0LTE1LjU5N3oiLz48L3N2Zz4=);
 // -webkit-background-size: cover;
 // -moz-background-size: cover;
 // -o-background-size: cover;
 // background-size: cover;
 background-color: transparent;
 position: absolute;
 border-width: 0;
 left: 8px;
 bottom: 128px;
}

.shape{
  height: 5rem;
  width: 5rem;
  background-color: #337AB7;
  border-radius: 50%;
  border-top-right-radius: 0;
  transform: rotate(-45deg);
}

.shape:active{
  background-color: white;
}
.shape:focus{
  background-color: white;
  outline: none;
}

.shape__txt{
 font-size: 1rem;
 line-height: 1rem;
 height: 5rem;
 width: 5rem;
 transform: rotate(+45deg);
 padding: 25px 20px 0 10px;
}

.slideout__btn-selected{
  background-color: transparent;
  border-radius: 50%;
}

.slideout__btn:focus {
 outline: none;
 background-color: transparent;
 -webkit-background-color: transparent;
-moz-background-color: transparent;
-o-background-color: transparent;
}

.slideout__btn:active {
 background-color: transparent;
 -webkit-background-color: transparent;
 -moz-background-color: transparent;
 -o-background-color: transparent;
}

.slideout__btn:hover {
  background-color: transparent;
 }

