.license {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 8rem;
}

.license-p {
  margin: 0 0 2rem;
}

@media only screen and (max-width: 768px) {
  .license {
    margin: 5rem 2rem;
  }
}
