html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

label {
  margin: 0;
}

#root,
.App,
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right {
  top: 80px;
  right: 0;
}

.authbutton {
  max-width: 200px;
  height: fit-content;
  max-height: 50px;
  padding: 1px 4px;
}

@media only screen and (max-width: 768px) {
  .authbutton {
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    margin: 0;

    .btn {
      padding: 0 0.75rem;
    }
  }

  .authbutton {
    font-size: 2rem;
  }

  .authbutton .btn {
    padding: 0 0.75rem;
  }
}

@media only screen and (max-width: 413px) {
  .authbutton {
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    margin: 0;

    .btn {
      padding: 0 0.75rem;
    }
  }

  .authbutton .btn {
    padding: 0 0.75rem;
  }
}

.authbutton__img {
  height: 25px;
  margin: 0 0 0 3px;
}

@media only screen and (max-width: 414px) {
  .authbutton {
    font-size: 1.1rem;
  }
}
