@import "../../styles/app";

.UserProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:10rem 8rem;
}

.userprofile__flex {
  display: flex;
}

.userprofile__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.userprofile__section {
  margin: 0 0 2rem 0;
}

.userprofile__p  {
  width: inherit;
}

@media only screen and (max-width: 768px) {
  .UserProfile {
    margin:5rem 2rem;
  }
  .userprofile__flex {
    display: block;
  }
  .userprofile__image {
    width: 150px;
    height: 150px;
    display: block;
    margin-right: inherit;
    margin: 0 auto 40px;
  }
}