.adopttree__btn {

 padding: 1.3rem;

 font-family: 'Roboto Mono', monospace;
 color: black;
}


.slideout__btn {
 // background-image: url("../../assets/images/map/waterdroplet.svg");
 //background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNiAzNiI+PHBhdGggZmlsbD0iIzVEQURFQyIgZD0iTTI4LjM0NCAxNy43NjhMMTguMTQ4IDEuMDkgOC43IDE3LjY1NGMtMi4yIDMuNTEtMi4zOTIgOC4wNzQtLjA4MSAxMS44NTQgMy4yODUgNS4zNzMgMTAuMzYzIDcuMDk4IDE1LjgxMSAzLjg1NyA1LjQ0Ni0zLjI0IDcuMTk5LTEwLjIyIDMuOTE0LTE1LjU5N3oiLz48L3N2Zz4=);
 // -webkit-background-size: cover;
 // -moz-background-size: cover;
 // -o-background-size: cover;
 // background-size: cover;
 background-color: transparent;
 position: absolute;
 left: 10px;
 bottom: 117px;
 border-width: 0;
 height: 7rem;
 width: 7rem;
}

.shape{
 height: 5rem;
 width: 5rem;
 background-color: #609CE1;
 border-radius: 50%;
 border-top-right-radius: 0;
 transform: rotate(-45deg);
 // border-width: 0;
 // border-style: solid;
 // border-color: 0 0 0 2px rgba(0,0,0,.1);
 // -moz-box-shadow: 0 0 2px rgba(0,0,0,.1);
 // -webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
 // box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.shape__txt{
 font-size: 1rem;
 line-height: 1rem;
 height: 5rem;
 width: 5rem;
 transform: rotate(+45deg);
 padding: 25px 20px 0 10px;
}

.slideout__btn-selected{
  background-color: #147d16;
  border-radius: 50%;
}

.slideout__btn:focus {
 outline: none;
 background-color: #147d16;
 -webkit-background-color: #147d16;
-moz-background-color: #147d16;
-o-background-color: #147d16;
border-radius: 50%;
}

.slideout__btn:active {
 background-color: #147d16;
 -webkit-background-color: #147d16;
 -moz-background-color: #147d16;
 -o-background-color: #147d16;
 border-radius: 50%;
 opacity:.9;
 border-color: 0 0 0 2px rgba(0, 0, 0, 0.1);
 -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.slideout__btn:hover {
  background-color: #147d16;
  border-radius: 50%;
 }

