@import "../../styles/app";

.footer {
  position:fixed;
  bottom:0;
  right:0;
  width: 100%;
  background-color: #147d16;
  // background:white;
  opacity: .8;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.footer__link {
  text-align: center;
  font-size: 1rem;
  color:black;
}


@media only screen and (max-width: 768px) {
  .footer__content {
    padding: 5px;
  }
}
