.footer {
  padding-top: 16px;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-top: rgba(0, 0, 0, 0.472) solid 1px;
  font-display: swap;

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 14%;

    @media only screen and (max-width: 768px) {
      width: 240px;
    }

    a {
      font-size: 1.2rem;
      color: black;

      &:hover {
        text-decoration: none;
        color: #3fab45;
      }
    }
  }

}