.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #147d16;
  opacity: 80%;
  z-index: 2;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.footer-link {
  text-align: center;
  font-size: 1rem;
  color: black;
}

@media only screen and (max-width: 768px) {
  .footer-content {
    padding: 5px;
  }
}
