.privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:10rem 8rem;
}

.privacy__p {
  margin: 0 0 2rem 0;
}

.privacy__main {
  
}

@media only screen and (max-width: 768px) {
  .privacy {
    margin:5rem 2rem;
  }
}