.privacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10rem 8rem;
}

.scrollable {
  height: 71vh;
  overflow: scroll !important;
}

.privacy-p {
  margin: 0 0 2rem;
}

@media only screen and (max-width: 768px) {
  .privacy {
    margin: 5rem 2rem;
  }
}
