@import "../../styles/app";

.map__container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow:hidden;
  height:100vh;
  width: 100vw;
}

.map__error {
  font-weight: bold;
  font-size: 1.15em;
  color: #a00;
  background: #fdd;
  top: 40%;
  padding: 2em;
  margin: 0 auto;
  width: 26em;
}

.map__error > p {
  width: auto;
  margin: 0 0 .75em 0;
}

.map__error > p:last-of-type {
  margin: 0;
}
