.searchbar {
    
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    width: 100%;
    min-width: 286px;
    min-height: 100%;
    margin-bottom: 10px;
    background-color: white;
    color: black;

    input{
        color: black;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 32px;
        border-radius: 4px;
    }
    
    input:focus{
        outline: none;
    }

    input::-webkit-input-placeholder{
        color: '#00000050',
    }
}