.searchbar {
    display: flex;
    align-items: center;
    border: 1px solid #00000050;
    width: 100%;
    min-width: 250px;
    margin-bottom: 10px;
    
    &__input{
        background-color: transparent;
        border: none;
        width: 100%;
        height: 32px;
    }
    
    &__input:focus{
        outline: none;
    }

    &__input::-webkit-input-placeholder{
        color: '#00000050',
    }
}