$border-color: #FF4040;
$checkbox-size: 1rem;
$checkedbox-size: 1.2rem;
$black: black;
$silver: silver;
$white-mix:  mix($silver, white, 20%);
$white:  white;
.treecare {
  font-family: arial,sans-serif;
  font-size: medium;
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px;
  cursor: pointer;
}

.treeinfo {
  $self: &;
  background-color: $silver;
  display: flex;
  flex-direction: column;
  justify-content: right;
  height: 100%;

  &__header {  
    font-size: large;
    font-weight: 700;
    margin-bottom: 20px;
  }

  @media screen and (max-width: 480px) {
    padding-top: 0;
  }
}

.treeinfofilter {
  $self: &;
  background-image: url(../../assets/images/treeinfo/treeinfo2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  height: max-content;
  color: black;
  background-color: gray;
  padding: 58px 10px 0;
  gap: 10px;
  margin-bottom: 1px;
  justify-content: space-between;

  a {
    color: darkgray;
    text-decoration: none;
    font-size: medium;
    font-weight: 300;
  }

  &__header {
    width: 150px;
    font-size: medium;
    padding: 1rem;
  }

  &__section {
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  &__section:first-child {
    background-color: transparent;
  }
  &__section-filter {
    margin: 10px;
  }
  &__section-data-select {
    background-color: $white;
    font-size: large;
  }

  &__section-title {
    font-size: medium;
    font-weight: 600;
    padding: 2px 5px;
  }

  &__section-item {
    display: flex;
    flex-direction: column;
  }

  &__section-item:focus-visible, &__section-item:hover {
    outline: none;
  }
  
  &__section-item-label {
    font-weight: 400;
    font-size: medium;
  }
  
  &__section-item-checkbox {
    color: rgba(0, 0, 0, 0.6);
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border-radius: 0;
    }

    input:hover {
      background-color: #2196F3;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked {
      background-color: #2196F3;
    }
  }
 

  @media screen and (max-width: 1024px) {
    background-size: 100%;
  }
  @media screen and (max-width: 768px) {
    background-size: 100vh;
  }  
  @media screen and (max-width: 600px) {
    background-size: 100vh;
  }

  @media screen and (max-width: 480px) {
    // flex-direction: row-reverse;
    background-size: auto 100%;
    // padding: 58px 0;

    flex-direction: column;
    &__header {
      width: 100%;
    }

    &__section-filters {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      padding: 5px;
    }
  }
}

.treeinfolist {
  $self: &;
  padding: 17rem 10px;
  align-self: center;

  &__container {
    column-count: 5;
    column-gap: 1.25rem;
    width: 100%;
    max-width: 1200px;
  }

  &__header {
    font-size: large;
  }
  
  &__link {
    break-inside: avoid;
  }

  &__link:focus, &__link:hover, &__link:visited, &__link:link, &__link:active {
    text-decoration: none;
    opacity: .8;
  }



  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
  
  &__image img {
    border-radius: 4px 4px 0 0;
  }

  &__item {
    color: gray;
    padding: 0 0.5rem;
  }


  &__item:first-letter { 
    font-size: 1em; 
    text-transform: uppercase;
  }

  &__item-notes {
    padding: .5rem;
    max-width: 250px;
    font-weight: 500;
  }

  @media screen and (max-width: 1024px) {
    &__container {
      column-count: 4;
    }
  }
  @media screen and (max-width: 768px) {
    &__container {
      column-count: 3;
    }
  }  
  @media screen and (max-width: 600px) {
    // margin-top: 220px;
    &__container {
      column-count: 2;
      column-gap: .10rem;
      padding: .10rem;
    }
  }
  @media screen and (max-width: 480px) {
    // margin-top: 210px;
    margin-top: 75px;
    &__container {
      column-count: 1;
      column-gap: .05rem;
      padding: .05rem;
    }
  }
}

.treeinfolarge {
  $self: &;
  background-color: $silver;
  height:  100vh;
  padding: 65px 10px;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: left;
    background-color: $white-mix;
    padding: 10px;
    border-radius: 4px;
  }

  &__content-image img {
    max-height: 100%;
    min-width: 50vw;
    border-radius: 4px;
  }

  .__content-image {
    width: 50%;
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 15px;
  }

  &__content-info-item {
    border-top: 1px solid $silver;
    font-size: medium;
    padding: 10px 0;
  }
  &__content-info-item-label {
    font-weight: 600;
  }

  @media screen and (max-width: 768px) {
    &__content {
      flex-direction: column;
      width: 100%;
    }
    &__image {
      width: 100%;
    }
  }  

  @media screen and (max-width: 480px) {
    &__content {
      flex-direction: column;
      width: 100%;
    }
    &__image {
      width: 100%;
    }
  }
  
}