$border-color: #FF4040;
$checkbox-size: 1rem;
$checkedbox-size: 1.2rem;
$dark: silver;
$white:  mix($dark, white, 20%);

.treeinfo {
  $self: &;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-top: 6rem;
  height: 100%;

  &__header {  
    font-size: large;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.treeinfofilter {
  $self: &;
  display: flex;
  flex-direction: row;
  height: max-content;
  color: black;
  background-color: gray;
  margin-top: 58px;
  padding: 0 10px;
  gap: 10px;
  margin-bottom: 1px;
  justify-content: space-between;

  a {
    color: darkgray;
    text-decoration: none;
    font-size: medium;
    font-weight: 300;
  }

  &__header {
    width: 150px;
    font-size: medium;
    padding: 1rem;
  }

  &__section {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
  &__section:last-child {
    background-color: transparent;
  }
  &__section-filter {
    background-color: lightgray;
  }
  &__section-data-select{
    background-color: whitesmoke;
  }

  &__section-title {
    background-color: lightgray;
    font-size: medium;
    font-weight: 700;
    padding: 2px 5px;
  }

  &__section-item {
    display: flex;
    flex-direction: column;
    margin: 5px;
    // max-width: 300px;
  }
  
  &__section-item-label {
    padding-left: 8px;
    font-size: medium;
  }
  
  &__section-item-checkbox {
    color: rgba(0, 0, 0, 0.6);
    width: 15px;
    height: 15px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    cursor: pointer;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      border-radius: 0;
    }

    input:hover {
      background-color: #2196F3;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked {
      background-color: #2196F3;
    }
  }

  @media screen and (max-width: 480px) {
    margin-top: 58px;
    padding:0;

    flex-direction: column-reverse;
    &__header {
      width: 100%;
    }

    &__section-filters {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      padding: 5px;
    }
  }
}

.treeinfolist {
  $self: &;
  margin-top: 95px;
  align-self: center;

  &__container {
    column-count: 5;
    column-gap: .25rem;
    padding: .25rem;
    width: 100%;
    max-width: 1200px;
  }

  &__header {
    padding: .5rem;
    margin: 15px;
  }
  
  &__link {
    break-inside: avoid;
  }

  &__link:focus, &__link:hover, &__link:visited, &__link:link, &__link:active {
    text-decoration: none;
  }
  @media screen and (max-width: 1024px) {
    &__container {
      column-count: 4;
    }
  }
  @media screen and (max-width: 768px) {
    &__container {
      column-count: 3;
    }
  }  
  @media screen and (max-width: 600px) {
    &__container {
      column-count: 2;
      column-gap: .10rem;
      padding: .10rem;
    }
  }
  @media screen and (max-width: 480px) {
    margin-top: 235px;
    &__container {
      column-count: 1;
      column-gap: .05rem;
      padding: .05rem;
    }
  }
}

.treeinfolarge {
  $self: &;
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: silver;
  width: 100vw;
  // height: 100vh;
  padding: 65px 10px;

  &__image {
    // height: 100%;
    // overflow: hidden;
    background-color: lightgray;
  }
  &__image img {
    max-height: 100%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 10px;
    background-color: $white;
    width: 60%;
  }

  &__content-item{
    font-size: medium;
    margin: 4px 0;
  }
  &__content-item-label {
    font-weight: 700;
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    padding: 0;
    &__content {
      width: 100%;
    }
    &__image {
      width: 100%;
    }
  }
  
}