.search-container {
  position: absolute;
  min-width: 300px;
  top: 8px;
  left: 50%;
  z-index: 1300;
}

@media (max-width: 768px) {
  .search-container {
    // Screen width - (menu button width + padding)
    width: calc(100% - 70px);
    margin: 0;
    left: 8px;
  }
}
