.sidebar {
  background-color: transparent;
  position: fixed;
  top: 85px;
  left: 0;
  padding-left: 10px;
  width: 72px;
}

.sidebar-content {
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
  font-display: swap;
}
