.tree-maintenance-button {
  font-size: 1.5rem;
}

.maintenance-alert {
  margin: 0 auto;
  position: absolute;
  left: 0;
  top: 10%;
  display: grid;
  place-items: center;
  width: 100%;
  height: 0px;
  z-index: 1000000;
}

.alert-success {
  width: fit-content;
  margin: 10px 50px;
  font-size: 14px;
  font-weight: 400;
}