.tree-container.tree-container {
  border: .2em solid green;
  font-family: 'Roboto', sans-serif;
}

.tree-details.tree-details {
  padding: .8em;
  background-color: linear-gradient(white, 10%, #ededed);
  margin-bottom: .5em;
  box-shadow: 0 0 .5em grey;
}