@mixin tree-chip-common {
  border: .2em solid grey;
  border-radius: 1em;
  display: flex;
  gap: .5em;
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  text-transform: none;
  padding: .2em .7em;
}

.tree-chip.tree-chip {
  @include tree-chip-common;
  color: rgb(92, 177, 92);
  background-color: white;
}

.tree-chip-selected.tree-chip-selected {
  @include tree-chip-common;
  color: white;
  background-color: green;

  &:hover {
    background-color: green;
  }
}

.tree-chip-list.tree-chip-list {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: .5em;
  padding: 0;
}