.tag {
  margin: 0.5rem;
  color: white;
  font-size: small;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: white;
  width: fit-content;

  &__brown {
    background-color: #795548;
    border-radius: 15px;
    padding: 5px 10px;
  }
  &__green {
    background-color: green;
    border-radius: 15px;
    padding: 5px 10px;
  }
}
