.tag {
  $self: &;
  margin: 0.5rem;
  color: white;
  font-size: small;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: white;
  width: fit-content;

  &__pill {
    border-radius: 15px;
    padding: 5px 10px;
  }
  &__brown {
    background-color: #795548;
  }
  &__green {
    background-color: green;
  }
  &__blue {
    background-color: #003972;
  }
  &__red {
    background-color: #3b0000;
  }
  &__darkbrown {
    background-color: brown;
  }
  &__black {
    background-color: black;
  }
}
