@import "../../styles/app";

.modal-header {
  border: 0;
  padding: 0;
}
.modal-footer {
  border: 0;
  padding: 0;
  justify-content: center;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -.2rem -.2rem -1rem auto;
}
.treeremoval__reason{
  // margin:0 5px;
  padding: 0 5px;
  width:100%;
}
.treeremoval__reason-btngrp{
  width:100%;
}
.treeremoval__reason-btn{
  padding: 3px;
}
.treeremoval__reason-input {
  border: 1px solid gray;
  background-color: #f9f6f2;
  margin: 3px 0;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  width:100%;
}

.treedata__edit {
  padding: 5px 0;
}

.treedata__edit-txt{
  padding: 0 10px;
  display: inline-flex;
}

.tree__header {
  margin: 0 1.2rem;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}

hr.divider-solid {
  border-top: 3px solid #dee2e6;
  margin: 0;
  width: 100%;
}

.tree__body{
  margin: 0 1.2rem;
  overflow: scroll;
}

.tree__body::-webkit-scrollbar {
  display: none;
}

.map__container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.tree__label {
  color: #ff0000;
}

.tree__label img {
  height: 50px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  // border: 5px solid #000000;
}

.tree__nav {
  z-index: 1040;
  position: absolute;
  bottom: 25px;
  left: 5px;
  z-index: 1049;
  display: flex;
  width: 90%;
  justify-content: flex-start;
}

.treenav__button {
  width: 2.5em;
  height: 2.5em;
  margin: 0 5px;
  padding: 0;
  font-size: 1.5rem;
  border-color: black;
  background-color: black;
  .btn-success:active {
    color: #fff;
    background-color: #006400;
  }
}
.tree__status-btn-more {
  width: 0.9em;
  height: 0.9em;
  font-size: 0.5rem;
  .btn-link {
    font-weight: 200;
    color: #007bff;
    text-decoration: none;
  }
}
/*
.treeadd {
  width: 3em;
  height: 3em;
  .btn {
    border: 0px solid #000;
    padding: 0;
    font-size: 2rem;
  }
  .btn-success {
     color: #fff;
     background-color: black;
     border-color: black;
  }
  .btn-success:active {
     color: #fff;
     background-color: #006400;
  }
}
.treeadd:not(:disabled):not(.disabled).active, .treeadd:not(:disabled):not(.disabled):active, .show > .treeadd.dropdown-toggle {
    color: #fff;
    background-color: #006400;
    border-color: white;
 }
.treeadd .active {
  color: #fff;
  background-color: #006400 !important;
  border-color: white;
 }

 .treeadd:active {
  color: #fff;
  background-color: #006400;
  border-color: white;
 }

 .treeadd .active:hover {
  color: #fff;
  background-color: #006400;
  border-color: white;
 }

 .treeadd:hover {
   color: #006400;
   background-color: white;
   border-color: white;
  }
 */

.tree {
  z-index: 2000;
  font: Normal $font-size-sm $font-family-base;
  font-weight: $font-weight-base;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100vw !important;
}

element.style {
  opacity: 1;
  transform: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tree__status {
  padding: 0 1.2rem;

  p {
    margin: 0;
  }
}

.treemaintenance {
  background-color: #619c3a;
  padding: 10px 10px 10px;
}

.treemaintenance-header {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.treemaintenance-header:focus {
  border: 3px solid #6ea3b8;
}

.treemaintenance-header__img {
  width: 42px;
  margin-left: 10px;
}
.treemaintenance-header__arrow {
  width: 20px;
}

.treemaintenance-btn-header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding: 10px;
  color: black;
  border: none;
  background-color: transparent;
}

.treemaintenance-btn-header:focus {
  border: none;
  border-radius: none;
  outline: none;
  background-color: transparent;
}

.treemaintenance-btn-header:focus:active:focus {
  box-shadow: none;
}

.treecare {
  margin-top: 10px;
}

.volunteer__name {
  border-color: #619c3a;
}

.treemaintenance-buttons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px auto;
}

.treemaintenance-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 25%;
  padding: 5px;
  margin: 5px;
  page-break-after: always; /* CSS 2.1 syntax */
  break-after: always; /* New syntax */
  font-size: 1.5rem;
}
.adoption{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.infobutton {
  border-radius: 50%;
  background-color: #cccbca;
  border: 0;
  color: black;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 22px;
  height: 22px;
  font-size: 1.2rem;
  font-weight: bold;
}
.infobutton-selected {
  background-color: #4CAF50;
  color: white;
  border: 0;
}
.infobutton:hover:active {
  background-color: #4CAF50;
  color: white;
  border: 0;
}

.heart {
  content: '&#9829';
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #28a745;
}

.MuiSvgIcon-root {
  width: 7em;
  height: 1em;
  font-size: 2.5rem;
}
.MuiSvgIcon-root .adopt {
  width: 7em;
  height: 1em;
  font-size: 2.5rem;
}

.MuiTypography-body1 .adopt {
  font-size: 2rem;
}

.tree__status__textarea {
  border: 1px solid #f9f6f2;
  background-color: #f9f6f2;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
}
.tree__status__textarea:focus {
  border: 2px solid #dee2e6;
}

.tree__status__input {
  border: 1px solid #f9f6f2;
  background-color: #f9f6f2;
  margin: 0 3px;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
}
.tree__status__input:focus {
  border: 1px solid #dee2e6;
}

.modal.fade {
  transition: none;
}

.modal {
  position: relative;
}

.modal.fade .modal-dialog {
  transition: none;
  transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
}

.tree__modal {
  max-height: 90vh;
  width: 100vw;
  color: white;
}

.tree__col {
  padding: 10px 0 10px 0;
}

.tree__indent {
  padding: 0 0 0 10px;
}

* {
  box-sizing: border-box;
}

.tree__imagelocation .col {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.tree__image {
  width: 100%;
  height: 100%;
  padding-right: 0;
  padding-left: 0;
  border-radius: 5px 5px 0 0;
}

.tree__image > img {
  width: 100vw;
  height: 300px;
  margin-left: -15px;
  background-size: cover;
}

.modal-dialog {
  max-width: 600px;
  margin: auto;
}

.modal-content {
  max-height: 90vh;
}

.flex-grid {
  margin: 4px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.flex-grid .col {
  flex: 1;
  width: 100%;
}

.flex-grid-one {
  display: flex;
  justify-content: center;
}

.flex-grid-one .col {
  width: 100%;
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 33%;
}

.flex-grid-twoths {
  display: flex;
  justify-content: space-between;
}
.flex-grid-twoths .col {
  width: 50%;
}
.tree__history {
  flex-direction: column;
  justify-content: flex-start;
}

.treehistory-list {
  margin: 15px 0;
  word-wrap: break-word;
  font-size: 1.2rem;
}

.treehistory-list__header{
  margin: 15px 0 0 0;
  padding: 5px;
  background-color: #e9ecef;
}

.treehistory-item {
  border: 2px solid #e9ecef;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.2rem;
}
.treehistory-item:nth-child(even) {
  background-color: #e9ecef;
}

.treehistory-item-label {
  display: inline-block;
  font-weight: 600;
}

.tree__imagelocation .col {
  width: 100vw;
}

.tree__imagelocation > img {
  width: 100vw;
  height: 100%;
}
.adopt {
  margin-bottom: 0 !important;
  border: 1px;
}

input[type="radio"], input[type="checkbox"].adopt {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.6);; /* IE */
  -moz-transform: scale(1.6);; /* FF */
  -webkit-transform: scale(1.6);; /* Safari and Chrome */
  -o-transform: scale(1.6);; /* Opera */
  transform: scale(1.6);;
  margin: 10px;
  cursor: pointer;
}

input[type="checkbox"].adopt:hover {
    background-color: yellow;
}

/* Specify the background color to be
shown when checkbox is active */
input[type="checkbox"].adopt:active {
    background-color: red;
}

adopt[type="checkbox"]:checked {
  background-color: green;
}

label.adopt {
  font-size: 1.25rem;
  margin:0 10px 0 5px;
  color:rgba(0, 0, 0, 0.54);;
}

.MuiButton-root {
  padding: 0;
  text-transform: none;
}
.MuiFormGroup-root {
  align-items: center;
}

.progressbar {
  height: 20px;
  width: 100%;
  border-radius: 10px;
  margin: 5px;

  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 25%,
    rgba(255, 184, 41, 1) 50%,
    rgba(97, 156, 58, 1) 75%,
    rgba(84, 219, 22, 1) 100%
  ); /* ff3.6+ */

  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, rgba(0, 0, 0, 1)),
    color-stop(25%, rgba(255, 0, 0, 1)),
    color-stop(50%, rgba(255, 184, 41, 1)),
    color-stop(75%, rgba(97, 156, 58, 1)),
    color-stop(100%, rgba(84, 219, 22, 1))
  ); /* safari4+,chrome */

  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 25%,
    rgba(255, 184, 41, 1) 50%,
    rgba(97, 156, 58, 1) 75%,
    rgba(84, 219, 22, 1) 100%
  ); /* safari5.1+,chrome10+ */

  background: -o-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 25%,
    rgba(255, 184, 41, 1) 50%,
    rgba(97, 156, 58, 1) 75%,
    rgba(84, 219, 22, 1) 100%
  ); /* opera 11.10+ */

  background: -ms-linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 25%,
    rgba(255, 184, 41, 1) 50%,
    rgba(97, 156, 58, 1) 75%,
    rgba(84, 219, 22, 1) 100%
  ); /* ie10+ */

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 0, 0, 1) 25%,
    rgba(255, 184, 41, 1) 50%,
    rgba(97, 156, 58, 1) 75%,
    rgba(84, 219, 22, 1) 100%
  ); /* w3c */

  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#54DB16',
    endColorstr='#000000',
    GradientType=1
  ); /* ie6-9 */
}

.container_popup {
  width: 500px;
  height: 500px;
  top: 5px;
  left: 5px;

  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* complimenting your modal colors */
}

.tree__add-label {
  font-size: $font-size-index;
}

.makeStyles-formControl-181 {
  margin: 0;
  min-width: 0;
}

.tree__type {
  padding: 5px 5px;

  .tree__type-btn {
    width: 3em;
    height: 3em;
    padding: 5px;
    margin: 2px 2px;
    border: 0px solid #000;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-color: white;
    page-break-after: always;
    break-after: always;
  }

  .tree__type-btn:active {
    border: 2px solid #ff0000;
    background: white;
  }
  .tree__type-btn:active {
    border: 2px solid #ff0000;
  }

  .btn-outline-danger:not(:disabled):not(.disabled).active,
  .btn-outline-danger:not(:disabled):not(.disabled):active,
  .show > .btn-outline-danger.dropdown-toggle {
    background-color: #fff;
  }
  p {
    margin: 0;
  }

  .leaflet-popup-content-wrapper {
    height: 30vh;
  }

  input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid lightgray;
  }
}

.treeremoval {
  padding: 20px 0;
}

.addtreepage {
  display: inline-block;
  position: absolute;
  bottom: 25px;
  left: 0;
  opacity: .8;
  border-color: transparent;
  z-index: 200 !important;
  width: 100%;
}

@media screen and (max-width: 790px) {
}

/*mobile*/
@media (max-width: 400px) {
  .flex-grid,
  .flex-grid-thirds {
    .col {
      width: 100%;
      margin: 0 0 2px 0;
    }
  }

  textarea.form-control {
    height: auto;
  }
  .tree__modal {
    margin: 0 auto;
  }

  .tree {
    .form-control {
      font-size: 1rem;
    }
  }

  .tree__type {
    padding: 2px 2px;
    .tree__type-btn {
      width: 3em;
      height: 3em;
      padding: 3px;
      margin: 2px;
      border: 2px solid #ff0;
    }
    input {
      width: 100%;
      background-color: transparent;
      border: 0;
      border-bottom: 1px solid lightgray;
    }
  }
}

.slidecontainer {
  width: 100%;
  margin: 1px;
}

.slider {
  -webkit-appearance: none;
  height: 25px;
  width: 100%;
  border-radius: 1px;
  margin: 0;
  background-color: #008c00; /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to right,
    black,
    #8b6742,
    #8c8c00,
    #00b200,
    #008c00
  ); /* Standard syntax (must be last) */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

ol {
  margin: 0 15px;
  padding-inline-start: 0;
}