.card {
  flex: 0 1 22rem;
  transition: box-shadow 0.3s ease-in-out;
  padding: 1rem;
  margin: 1rem;
  height: 100%;
  background-color: whitesmoke;
  color: gray;

  h1,
  h2,h3,h4,h5,h6 {
    color: black;
  }

  h2,
  .h2,.h3,.h4,.h5,.h6 {
    color: black;
  }

  &:focus, &:hover, &:visited, &:link, &:active {
    // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    // border: 1px solid black;
    text-decoration: none;
    color: green;
    opacity: .8;
  }

  &__item {
    color: gray;
    padding: .5rem;
    font-weight: 700;
  }
  &__item:first-letter { 
    font-size: 1em; 
    text-transform: uppercase;
  }

  &__item-notes {
    padding: .5rem;
    max-width: 250px;
    font-weight: 500;
  }
  
}