@font-face {
  font-family: wtt-thin;
  src: local('wtt-thin'),
    url('../../assets/fonts/WTT-THIN.ttf') format('truetype');
  font-display: swap;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  border-color: transparent;

  /* put this above the map drawer but below modal dialogs */
  z-index: 12 !important;


  &__font {
    font-family: wtt-thin, Arial, sans-serif, "PT Sans";
    color: black;
    background-color: white;
    padding: 4px 10px;
    border-radius: 4px;
    white-space: nowrap;
    letter-spacing: -3px;
    font-size: 1.8rem;
    word-spacing: 0.6rem;
    border: 1px solid #ddd;
    font-display: swap;
  }

  &__font-link:hover {
    outline: none;
    text-decoration: none;
    border-radius: 4px;
    background-color: #eee;
    cursor: pointer;
  }

  &__logo {
    height: 4em;
    width: 36em;
    padding: 0;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 4px;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 10%);
    box-shadow: 0 0 0 2pxrgba 0, 0, 0, 0.1;
  }

  &__btn-menu {
    background-color: white;
  }

  &__btn-menu:hover {
    background-color: #eee;
  }

  &__font::first-letter {
    letter-spacing: 0;
  }

  &__content {
    display: flex;
    flex-direction: row-reverse;
    margin: 7px 10px;
    justify-content: space-between;
    align-items: center;
  }

  &:focus {
    outline: none;
  }

  &__icon {
    height: 5vh;
  }

  &__icon:hover {
    cursor: pointer;
  }

  &__icon:focus {
    box-shadow: none;
    outline: none;
  }

  &__link {
    width: 100%;
    color: black;
    font-size: large;
  }

  &__link:hover {
    outline: none;
    text-decoration: none;
    // cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    &__icon {
      width: 70vw;
    }
  }

}