@font-face {
  font-family: wtt-thin;
  src: local('wtt-thin'),
    url('../../assets/fonts/WTT-THIN.ttf') format('truetype');
}

// .header {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   background-color: rgba(20, 125, 22, 0.8);
//   border-color: transparent;

//   /* put this above the map drawer but below modal dialogs */
//   z-index: 1250 !important;
// }

.header {
  // font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64px;

  &--navigation {
    display: flex;
    width: 70%;

    @media only screen and (max-width: 768px) {
      width: 90%;
    }

    &--logocontainer {
      display: flex;
      align-items: center;
      max-width: 272px;

      &--logo {
        padding-left: 10px;
        width: 100%;
      }
    }

    &--navcontainer {
      position: relative;
      display: flex;
      left: 5%;
      align-items: center;

      @media only screen and (max-width: 768px) {
        display: none;
      }

      &--buttons {
        margin: 8px 8px;
        font-size: 1.5rem;
        border: none;
        background-color: white;
        padding: 0;
        padding-right: 32px;

        a {
          display: flex;
          flex-direction: column;
          color: black;

          &:before {
            color: black;
            font-weight: bold;
            content: attr(Title);
            visibility: hidden;
            height: 0;
          }

          &:hover {
            color: #3fab45;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }

    &--authcontainer {
      display: flex;
      align-items: center;
      margin-left: auto;

      &--button {
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }

      &--burger {
        display: none;

        @media only screen and (max-width: 768px) {
          display: inline-block;
        }
      }

      &--menu {
        display: flex;
        flex-direction: column;

        &--profile {
          &--picture {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        &--menuitem {
          display: none;
          width: 100%;

          @media only screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
          }

          &--details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 5px;
          }

          &--links {
            color: black;

            &:hover {
              text-decoration: none;
              color: #3fab45;
              cursor: default;
            }

            &--span {
              padding-left: 15px;
              font-size: 1.2em;
            }
          }

          &--disabled {
            color: #00000040;

            &:hover {
              text-decoration: none;
              color: #00000040;
            }
          }


        }
      }

      &--profile {


        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.header--logo {
  height: 4em;
  width: 36em;
  padding: 0;
  margin: 10px 0;
  background-color: #fff;
  border-radius: 4px;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 10%);
  box-shadow: 0 0 0 2pxrgba 0, 0, 0, 0.1;
}


.header-btn-menu {
  background-color: white;
  border-radius: 4px;
  border-width: 0;
  color: black;
  border: none;
  outline: none;
  padding: 0;
}

.header-font {
  font-family: wtt-thin, Arial, sans-serif, 'PT Sans';
  color: white;
  white-space: nowrap;
  letter-spacing: -3px;
  font-size: 1.8rem;
  word-spacing: 0.6rem;
}

.header-font::first-letter {
  letter-spacing: 0;
}

.header-content {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.header:focus {
  outline: none;
}

.header-icon {
  height: 5vh;
}

.header-icon:hover {
  cursor: pointer;
}

.header-icon:focus {
  box-shadow: none;
  outline: none;
}

.header-link {
  width: 100%;
}

.header-btn-menu {
  background-color: transparent;
  border-width: 0;
  color: #3fab45;
  border: none;
  outline: none;
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  .header-icon {
    width: 70vw;
  }

  .header--logo {
    width: 70vw;
  }
}