@import "../../styles/app";

.header {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #147d16;
  opacity: .8;
  border-color: transparent;
  z-index: 200 !important;
}

.header__content {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  justify-content: space-around;
  align-items: center;
}

.header:focus{
  outline: none;
}

.header__icon {
  height: 5vh;
}

.header__icon:hover {
  cursor: pointer;
}

.header__icon:focus {
  box-shadow: none;
  outline: none;
}



@media only screen and (max-width: 768px) {
  .header__icon {
    // height: 1.85rem;
    width: 70vw;
  }
}



@media only screen and (max-width: 768px) {

}
 