@import "../../styles/app";
/*
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}


.Layout {
  height: 100%;
  width: 100%;
    background-color: #ffffff;

} 

.Layout__wrap {
  min-height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  background-color: white;
  
  @include media-breakpoint-up(md) {
    left: $sidebar-width-open;
    right: 0;
  }
}

.Layout__content {
  min-height: 100%;
  padding: 0;
}

.Layout__sidebarOpen {
  @include media-breakpoint-down(sm) {
    left: $sidebar-width-open-mobile;
    right: $sidebar-width-open-right;
    right: 0px;

    .Layout__content {
      min-height: 0px;
      min-width: 0px;
      display: none;
    }
  }

  
}
/* Mobile */
@media (min-width: 767px) {
  .main {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
