.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10rem 8rem;
  font-size: 1.5rem;
  box-sizing: border-box;

  &__header {
    margin-bottom: 1rem;
  }

  &__logo {
    max-width: 20vw;
    max-height: 20vh;
    margin: 1rem;
  }

  &__p {
    display: flex;
    flex-direction: column;
  }

  &__p span {
    margin: 1.5rem;
    box-sizing: border-box;
  }

  &__p a {
    cursor: pointer;

    a:link {
      color: #ccc;
    }

    /* visited link */
    a:visited {
      color: #095484;
    }

    /* mouse over link */
    a:hover {
      color: #8ebf42;
    }

    /* selected link */
    a:active {
      color: #800000;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    margin: 5rem 2rem;
  }
}
