.contact {
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
      font-size: 4.5rem;
      font-weight: bold;
      margin-bottom: 2rem;

      @media only screen and (max-width: 768px) {
        font-size: 3.75rem;
        margin-bottom: 1.5rem;
      }
    }

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 2rem;

      @media only screen and (max-width: 768px) {
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
      }
    }

    p {
      font-size: 1.7rem;
      margin-bottom: 2rem;

      @media only screen and (max-width: 768px) {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
      }
    }

    a {
      color: #3fab45;
      text-decoration: underline;
      font-weight: bold;

      &:hover {
        color: green;
      }
    }

    &> :last-child {
      border-top: none;
      padding-top: 0px;
      margin-Bottom: 0px;
    }

    &__green {
      color: #3fab45;
    }

    &__image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50rem;
      margin-bottom: 4rem;

      @media only screen and (max-width: 768px) {
        margin-bottom: 1.5rem;
        height: 500px;
        justify-content: flex-end;
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &__absolute {
        position: absolute;
        width: 70%;
        z-index: 10;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }

      &__relative {
        position: relative;
        width: 27%;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: white;

        @media only screen and (max-width: 768px) {
          padding: 1.5rem;
          width: 70%;
        }
      }
    }

    &__section {
      margin-bottom: 4rem;
      padding-top: 4rem;
      display: flex;
      justify-content: space-between;
      width: 70%;
      border-top: 2px solid #80808070;

      &__sub {
        display: flex;
        flex-direction: column;
        width: 47.5%;

        @media only screen and (max-width: 768px) {
          width: 100%;

          // &>a {
          //   justify-content: center;
          // }
        }

        &__social {
          display: flex;
          justify-content: space-between;
          width: 60%;

          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 1.5rem;
        padding-top: 1.5rem;
        width: 90%;
        flex-direction: column;
        align-items: center;
      }
    }

    &__footer {
      width: 100%;
    }
  }
}