.contacts {
  display: flex;
  justify-content: center;

  &__links {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    align-items: center;
  }

  &__logo {
    max-width: 10rem;
    max-height: 5rem;
  }
}