.community {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    margin-top: 112px;
=======
    margin: 100px;
>>>>>>> 4be28025c350f55f4e446290fc038ee8a4e8e011
    font-family: Montserrat;

    &__logo {
        display: flex;
        justify-content: center;

        &__image {
            max-width: 2.5vw;
            aspect-ratio: 1/1;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        margin-top: 2.461vh;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &__header {
            display: flex;
            justify-content: center;
        }

        &__p {
            font-size: medium;
            display: flex;
            flex-direction: column;
            align-items: center;
<<<<<<< HEAD
            margin-bottom: 56px;
=======
>>>>>>> 4be28025c350f55f4e446290fc038ee8a4e8e011

            &__text {
                display: flex;
                flex-direction: column;
                margin-bottom: 2.461vh;
            }

            &__link {
                color: #3FAB45;

                &:hover {
                    color: #3FAB45;
                }
            }
        }
    }

}