.communities{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 3.29vh;
    &__main{
        &__p{
            font-size: 1.2em;
        }
        &__search {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            margin-bottom: 32px;
            &__input {
                width: 60%;
                border: 1px #00000050 solid;
            }
        }
        &__section{
            display: flex;
            border-bottom: 1px #00000050 solid ;
            &__one{
                width: 16.67%;
            }
        }
    }
}