.community {
    display: flex;
    flex-direction: column;
    margin: 100px;
    font-family: Montserrat;

    &__logo {
        display: flex;
        justify-content: center;

        &__image {
            max-width: 2.5vw;
            aspect-ratio: 1/1;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        margin-top: 2.461vh;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &__search {
            width: 100%;
        }

        &__header {
            display: flex;
            justify-content: center;
        }

        &__p {
            font-size: medium;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__text {
                display: flex;
                flex-direction: column;
                margin-bottom: 2.461vh;
            }

            &__link {
                color: #3FAB45;

                &:hover {
                    color: #3FAB45;
                }
            }
        }
    }

}