.communities {
    display: flex;
    height: 100vh;
    flex-grow: 1;
    padding: 10px;
    width: 100%;

    &__smallcolumn {
        // background-color:lightblue;
        max-width: 150px;
        flex-grow: 1;
        padding: 10px;
    }
    &__middle {
        // background-color:lightgreen;
        flex-grow: 1;
        padding: 10px;
        &__card {
            padding: 5px;
        }
    }
}