@import '../../styles/app';

body {
  overflow: unset !important;
}

.data {
  position: relative;
  top: 3rem;
  left: 0;
  margin: 20px;
}

.data__treelist {
  // overflow: scroll;
  display: grid;
  margin-inline-start: 0px;
  padding: 5px 0;
}

.data__treelist-tree{
  display: grid;
  justify-content: right;
  grid-template-columns: repeat(6, 1fr);
  // grid-template-columns: min-content auto;
}
.data__treelist-tree-header-item {
  cursor: select;
}

.data__treelist-tree-item{
  padding: 0 2px;
  border: .5px solid rgba(0, 0, 0, 0.3);
}

.data__treelist-tree-header{
  display: grid;
  justify-content: left;
  grid-template-columns:repeat(6, 1fr);
}

.data__treelist-tree-header-item{
  cursor: pointer;
  border: .5px solid rgba(0, 0, 0, 0.5);
}

.data__treeheader-btn{
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: left;
}

.data__treeheader-btn:active{
  background-color: lightslategrey;
}

.data__treeheader-btn:hover{
  background-color: lightslategrey;
}