@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: Arial, sans-serif, "PT Sans";
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

#root,
.App,
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right {
  top: 80px;
  right: 0;
}

.authbutton {
  width: fit-content;
  height: fit-content;
  font-size: 3rem;
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 768px) {
  .authbutton {
    width: fit-content;
    height: fit-content;
    font-size: 1.4rem;
    padding: 1px 4px;
    margin: 0;
  
    .btn {
      padding: 0 .75rem;
    }
  }

  .authbutton .btn {
    padding: 0 .75rem;
  }
}


@media only screen and (max-width: 413px) {
  .authbutton {
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    padding: 1px 4px;
    margin: 0;
  
    .btn {
      padding: 0 .75rem;
    }
  }

  .authbutton .btn {
    padding: 0 .75rem;
  }
}

.authbutton__img {
  height: 25px;
  margin: 0 0 0 3px;
}