@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: Arial, sans-serif, "PT Sans";
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
}

#root,
.App,
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.mapboxgl-ctrl-top-right {
  top: 80px;
  right: 0;
}

.authbutton {
  width: fit-content;
  max-width: 200px;
  height: fit-content;
  max-height: 50px;
  font-size: 2.5rem;
  padding: 1px 4px;
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 768px) {
  .authbutton {
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    margin: 0;
  
    .btn {
      padding: 0 .75rem;
    }
  }

  .authbutton {
    font-size: 2rem;
  }

  .authbutton .btn {
    padding: 0 .75rem;
  }
}


@media only screen and (max-width: 413px) {
  .authbutton {
    width: fit-content;
    height: fit-content;
    padding: 1px 4px;
    margin: 0;
  
    .btn {
      padding: 0 .75rem;
    }
  }

  .authbutton .btn {
    padding: 0 .75rem;
  }
}

.authbutton__img {
  height: 25px;
  margin: 0 0 0 3px;
}




@media only screen and (max-width: 414px) {
  .authbutton {
    font-size: 1.1rem;
  }
 }