html {
  box-sizing: border-box;
  font-size: 12px;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

label {
  margin: 0;
}

#root,
.App,
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl-top-right {
  top: 80px;
  right: 0;
}
