.search-container {
  .search-input {
    padding: 6px;
  }
  #searchbar-input {
    padding: 4px;
  }
  .MuiAutocomplete-endAdornment {
    position: unset;
  }
}

.MuiAutocomplete-popper {
  .search-result {
    justify-content: space-between;
    padding: 12px;
    .left-container {
      display: flex;
      align-items: center;
    }
    .result-info {
      padding-left: 8px;
      line-height: 1.2;
    }
    .label {
      font-size: 1.25rem;
    }
  }
  .group-header {
    padding: 1rem;
  }
}
