@import '../../styles/app';

.addtree {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
    padding-top: 3px;
    padding-left: 3px;
  }
  .MuiButton-label {
    line-height: 1;
    color: black;
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Roboto Mono', monospace;
  }
}

.addtree__header {
  margin: 10px;
}

.addtree__body {
  overflow: scroll;
  padding: 10px
}

.addtree__body::-webkit-scrollbar {
  display: none;
}

.modal-header {
  border: 0;
  padding: 0;
}
.modal-header .close {
  padding: 1rem 1rem;
  margin: -.2rem -.2rem -1rem auto;
}

.addtree_btngroup {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}

.addtree_btn__save {
  margin: 0 10px;
 }

.addtree__btn {
  background-color: #147d16;
  border-radius: 13%;
  position: absolute;
  left:10px;
  bottom:50px;
  border-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: outset;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-image: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  width:6rem;
  height:6rem;
  background-image: url(assets/images/addtree/plus2.svg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.addtree__btn-selected{
  background-color: white;
  border-radius: 13%;
  // width:6rem;
  // height:6rem;
  // cursor:url(assets/images/addtree/tree12.svg), auto;
}

.addtree__btn:focus {
  outline: none;
//  background-color: white;
//  -webkit-background-color: white;
// -moz-background-color: white;
// -o-background-color: white;
// border-radius: 13%;
 }

// .addtree__btn:active {
  // width:200px;
  // height:200px;
  // cursor:url("../../assets/images/addtree/tree12.svg"), auto;
// }

// .addtree__btn:hover {
//   background-color: white;
//   border-radius: 13%;
//  }

// .addtree__btn:visited {
// background-color: white;
// border-radius: 13%;
// }

 .addree__plus {
  height: 8vh;
  min-width: 50px;
  opacity: 1;
 }

 /* Centered text */
.addree__plus-centeredtxt {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.addtree__icon {
 height: 9vh;
 min-width: 50px;
}

.addtree__volunteer{
  font-size: 1rem;
  text-decoration: underline;
  padding: 3px 0 7px;
}

.coordinates {
 background: rgba(0, 0, 0, 0.5);
 color: #fff;
 position: absolute;
 bottom: 40px;
 left: 10px;
 padding: 5px 10px;
 margin: 0;
 font-size: 11px;
 line-height: 18px;
 border-radius: 3px;
 display: none;
}

.marker {
 background-color: green;
 background-size: cover;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 cursor: pointer;
}

.addtreemodal {
 display: flex;
 flex-direction: column;
 padding: 0 10px;
 justify-content: space-around;
 .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
  padding-top: 5px;
  padding-left: 8px;
 }
}

.addtreemodal__info {
 background-color: white;
 padding: 10px;
 margin: 0 0 5px 0;
 border-radius: 25px;
 align-self: center;
 border: 5px solid seagreen;
}

.addtreemodal__header {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: flex-start;
 margin-left: 3rem;
}

.addtreemodal__header-left {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.addtreemodal__header-title {
 font-size: 2rem;
 margin-bottom: 7px;
 align-self: flex-start;
}

.addtreemodal__header-logo {
  width: 200px;
  margin: 0 0px;
}

.addtreemodal__header-image {
 width: 32px;
 margin: 0 10px 3px;
}

.addtreemodal__owner {
 .MuiTypography-body1 {
  font-size: 1.1rem;
 }
 .MuiFormControlLabel-root {
  margin-left: 0;
  margin-right: 0;
 }
 .PrivateSwitchBase-root-1 {
  padding: 3px 5px;
 }
 label {
  margin-bottom: 0;
 }
}

.treecharacteristics {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
  padding-top: 5px;
  padding-left: 8px;
 }
}

.left {
 .makeStyles-formControl-8 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
 .makeStyles-formControl-1 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
}

.treecharacteristics-image {
 width: 100px;
 padding: 5px;
}

.treeaddress__address {
 .makeStyles-formControl-8 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
 .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
  padding-top: 5px;
  padding-left: 8px;
 }
 .makeStyles-formControl-1 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
}

.treeaddress-item {
 padding: 10px;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 font-size: 1.2rem;
}

.treeaddress-item__entry {
 padding: 10px;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 font-size: 1.2rem;
}

.treeaddress-item-label {
 display: inline-block;
 font-weight: 600;
}


@media only screen and (max-width: 767px) {
 .addtree {
  justify-content: flex-end;
 }
 .addree__plus-centeredtxt {
    font-size: 1.1rem;
    line-height: .9rem;
  }
 .addtree__btn {
  height: 5rem;
  width: 5rem;
 }
}

@media only screen and (max-width: 414px) {

  .addtree {
   justify-content: flex-end;
  }
  .addree__plus-centeredtxt {
     font-size: 1.2rem;
     line-height: 1rem;
   }
 }
