
@import "../../styles/app";
 
.addtree {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: flex-end;
}

.addtree__icon {
  height: 9vh;
  min-width: 50px;
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 3px;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.marker {
   background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Dicotyledonous_sprout.svg/210px-Dicotyledonous_sprout.svg.png);

  background-color: green;
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  .addtree {
    justify-content: flex-end;
  }
}
 

