@import '../../styles/app';

.addtree {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
  padding-top: 3px;
  padding-left: 3px;
 }
 .MuiButton-label {
  line-height: 1;
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: 'Roboto Mono', monospace;
}
}

.addtree_btngroup {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
}

.addtree_btn__save {
  margin: 0 10px;
 }

.addtree__btn {
 background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2aWV3Qm94PSIwLjQyNSAtMTEuNjc3IDU0NS4wMTEgNTEwLjIzNiIgd2lkdGg9IjU0NS4wMTEiIGhlaWdodD0iNTEwLjIzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNIDE2My45NzMgMzAuMTUyIEwgMzgxLjg4NyAzMC4xNTIgTCAzODEuODg3IDE1MC4wMzkgTCA1MDEuODUxIDE1MC4wMzkgTCA1MDEuODUxIDMzNi44NDMgTCAzODEuODg3IDMzNi44NDMgTCAzODEuODg3IDQ1Ni43MyBMIDE2My45NzMgNDU2LjczIEwgMTYzLjk3MyAzMzYuODQzIEwgNDQuMDExIDMzNi44NDMgTCA0NC4wMTEgMTUwLjAzOSBMIDE2My45NzMgMTUwLjAzOSBaIiBzdHlsZT0iZmlsbDogcmdiKDI1NSwgMjU1LCAyNTUpOyBzdHJva2U6IHJnYigyMDgsIDIwOSwgMjA1KTsgc3Ryb2tlLXdpZHRoOiA0cHg7Ii8+Cjwvc3ZnPg==);
 font-size: 1.1rem;
 background-size: cover;
 background-position: center;
 height: 6rem;
 width: 6rem;
 border: none;
 color: black;
 line-height: .9rem;
 word-spacing:9999px;
 padding:5px;
 margin: 0 7px 10px;
 background-color: #147d16;
 border-radius: 50%;
}

.addtree__btn:focus {
 outline: none;
 background: green;
}

.addtree__btn:active {
 background-color: green;
}

.addtree__btn:hover {
  background-color: green;
 }

.addtree__icon {
 height: 9vh;
 min-width: 50px;
}

.addtree__volunteer{
  font-size: 1rem;
  text-decoration: underline;
  padding: 3px 0 7px;
}

.coordinates {
 background: rgba(0, 0, 0, 0.5);
 color: #fff;
 position: absolute;
 bottom: 40px;
 left: 10px;
 padding: 5px 10px;
 margin: 0;
 font-size: 11px;
 line-height: 18px;
 border-radius: 3px;
 display: none;
}

.marker {
 background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Dicotyledonous_sprout.svg/210px-Dicotyledonous_sprout.svg.png);

 background-color: green;
 background-size: cover;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 cursor: pointer;
}

.addtreemodal {
 display: flex;
 flex-direction: column;
 padding: 0 10px;
 justify-content: space-around;
 .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
  padding-top: 5px;
  padding-left: 8px;
 }
}

.addtreemodal__info {
 background-color: white;
 padding: 10px;
 margin: 0 0 5px 0;
 border-radius: 25px;
 align-self: center;
 border: 5px solid seagreen;
}

.addtreemodal__header {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: flex-start;
 margin-left: 3rem;
}

.addtreemodal__header-left {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.addtreemodal__header-title {
 font-size: 2rem;
 margin-bottom: 7px;
 align-self: flex-start;
}

.addtreemodal__header-logo {
 width: 150px;
 margin: 0 0px;
}

.addtreemodal__header-image {
 width: 25px;
 margin: 0 10px;
}

.addtreemodal__owner {
 .MuiTypography-body1 {
  font-size: 1.1rem;
 }
 .MuiFormControlLabel-root {
  margin-left: 0;
  margin-right: 0;
 }
 .PrivateSwitchBase-root-1 {
  padding: 3px 5px;
 }
 label {
  margin-bottom: 0;
 }
}

.treecharacteristics {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
  padding-top: 5px;
  padding-left: 8px;
 }
}

.left {
 .makeStyles-formControl-8 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
 .makeStyles-formControl-1 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
}

.treecharacteristics-image {
 width: 100px;
 padding: 5px;
}

.treeaddress__address {
 .makeStyles-formControl-8 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
 .MuiAutocomplete-inputRoot[class*='MuiFilledInput-root'] {
  padding-top: 5px;
  padding-left: 8px;
 }
 .makeStyles-formControl-1 {
  margin: 0;
  min-width: 120px;
  width: 100%;
 }
}

.treeaddress-item {
 padding: 10px;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 font-size: 1.2rem;
}

.treeaddress-item__label {
}

.treeaddress-item__entry {
 padding: 10px;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
 font-size: 1.2rem;
}

.treeaddress-item-label {
 display: inline-block;
 font-weight: 600;
}

@media only screen and (max-width: 768px) {
 .addtree {
  justify-content: flex-end;
 }
}
