.addtree_btngroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.addtree_btn__save {
  margin: 0 10px;
}

.addtree__btn {
  background-color: #147d16;
  border-radius: 13%;
  position: relative;
  width: 5rem !important;
  height: 5rem !important;
  border: none;
  background-image: url(@/assets/images/addtree/plus2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;
}

.addtree__btn-selected{
  background-color: white;
  border-radius: 13%;
}

.addtree__btn:focus {
  outline: none;
}

.addree__plus {
  height: 8vh;
  min-width: 50px;
  opacity: 1;
}

 /* Centered text */
.addree__plus-centeredtxt {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.addtree-popup{
  top: -30px;
}

.mapboxgl-popup-content {
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 1.25em 1.5em 1em 1.5em;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: black;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: black;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: black;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: black;
}

.addree__plus-centeredtxt-planting {
  font-size: 1rem;
  opacity: 1;
}

.addtree__icon {
 height: 9vh;
 min-width: 50px;
}

.marker {
 background-color: green;
 background-size: cover;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 cursor: pointer;
}

.addtreemodal {
 display: flex;
 flex-direction: column;
 padding: 0 10px;
 justify-content: space-around;
}

.addtreemodal__info {
 background-color: white;
 padding: 10px;
 margin: 0 0 5px 0;
 border-radius: 25px;
 align-self: center;
 border: 5px solid seagreen;
}

.addtreemodal__header {
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: flex-start;
 margin-left: 3rem;
}

.addtreemodal__header-left {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.addtreemodal__header-title {
 font-size: 2rem;
 margin-bottom: 7px;
 align-self: flex-start;
}

.addtreemodal__header-logo {
  width: 200px;
  margin: 0 0px;
}

.addtreemodal__header-image {
 width: 32px;
 margin: 0 10px 3px;
}
